# update demo-api service from gitlab repository and restart the service if changes were pulled
*/5 * * * * /bin/sh -c 'cd /opt/dcloud/demo-api && ./update.sh' 2>&1 | /usr/bin/logger -t cron-update-demo-api
