[Unit]
Description=dcloud demo utility APIs

[Service]
ExecStart=/usr/bin/node /opt/dcloud/demo-api/src/index
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=NODE_TLS_REJECT_UNAUTHORIZED=0
WorkingDirectory=/opt/dcloud/demo-api

[Install]
WantedBy=multi-user.target
